[
  {
    rabbit,
    [
      {loopback_users, []},
      {cluster_partition_handling, autoheal},
      {queue_master_locator, <<"min-masters">>},
      {log_levels, [
        {autocluster, info},
        {connection, error},
        {channel, warning},
        {federation, info},
        {mirroring, info}
      ]}
    ]
  }
].
